############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws

#!.idea/codeStyles/
#!.idea/runConfigurations/

############################
# Logs & temp
############################
*.log
*.tmp
*.temp

############################
# OS
############################
.DS_Store

############################
# VS Code
############################
.vscode/

############################
# Compilados Java
############################
*.class

referencia
referencia/
